<form method = "post" action = "/delivery">

    <h3> Would you like delivery?</h3>
        <input type = "radio" name = "delivery" value = "yes_del"> Yes <br>
        <input type = "radio" name = "delivery" value = "no_del"> No <br>
    <input type = "submit">
</form>