
<h1>Please pick your sandwich parts:</h1>
<center>

<form method = "post" action = "/choosing">

    <h3> Please select your size: </h3>
    <p> <input  type = "radio" name = 'size[]' value = "small"> $ 5 - Small </p> 
    <p> <input  type = "radio" name = 'size[]' value = "medium"> $7 - Medium </p>
    <p> <input  type = "radio" name = 'size[]' value = "large"> $9 - large </p>

    <h3> Please select your sauce: </h3>
    <p> <input  type = "radio" name = 'sauce[]' value = "bbq">$1 - BBQ <img src = "./img/bbq.png"> </p> 
    <p> <input  type = "radio" name = 'sauce[]' value = "buffalo">$1 - Buffalo <img src = "./img/buffalo.png"> </p>
    <p> <input  type = "radio" name = 'sauce[]' value = "marinara">$1 - Marinara <img src = "./img/marinara.png"> </p>

    <h3> Please select your meats:</h3>
    
    <p> <input  type = "checkbox" name = 'meat[]' value = "bacon">$1 - Bacon <img src = "./img/bacon.png"> </p>
    <p> <input  type = "checkbox" name = 'meat[]' value = "pepperoni">$1 - Pepperoni <img src = "./img/pepperoni.png"> </p>
    <p> <input  type = "checkbox" name = 'meat[]' value = "ham">$1 - Ham <img src = "./img/ham.png"> </p>

    <h3> Please select your Veggies:</h3>

    <p> <input  type = "checkbox" name = 'veg[]' value = "spinach">$1 -  Spinach <img src = "./img/spinach.png"> </p>
    <p> <input  type = "checkbox" name = 'veg[]' value = "jalapeno">$1 - Jalapeno <img src = "./img/jalapeno.png"> </p>
    <p> <input  type = "checkbox" name = 'veg[]' value = "mushroom">$1 - Mushroom <img src = "./img/mushroom.png"> </p>
    
    </center>

    <center> <input type = 'submit'> </center>

</form>