Your pizza will have

<% sauce_final.each do |sauce_value| %>
    <p> <%= sauce_value %> </p>
<% end %>

<% meat_final.each do |meat_value| %>
    <p> <%= meat_value %> </p>
<% end %>

<% veg_final.each do |veg_value| %>
    <p> <%= veg_value %> </p>
<% end %>