Your pizza will have

<% sauce_yes.each do |sauce_value| %>
    <p> <%= sauce_value %> </p>
<% end %>

<% meat_yes.each do |meat_value| %>
    <p> <%= meat_value %> </p>
<% end %>

<% veg_yes.each do |veg_value| %>
    <p> <%= veg_value %> </p>
<% end %>